:root {
	--light: #eeeeee;
	--light-alt: #acbfe1;
	--dark: #141c29;
	--dark-alt: #283750;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--light);
	color: var(--light);
}

.App {
	padding: 32px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
	color: var(--dark);
	text-transform: uppercase;
}

h4 {
	font-size: 10px;
	color: var(--light-alt);
	font-weight: 400;
	margin-bottom: 2px;
	display:block;
}

h2 {
	font-size: 17px;
	color: var(--dark);
	text-transform: uppercase;
	font-weight: 400;
	margin-top: -25px;
	display:flex;
}

h3 {
	font-size: 16px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 3px;
	display:block;
	font-weight: bolder;
}

h5 {
	font-size: 10px;
	font-family: "Fira Sans", sans-serif;
}

h6 {
	font-size: 10px;
	font-weight: 600;
	margin-bottom: 2px;
	display:inline-block;
}



.todo .delete-todo {
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	right: 25px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 20px;
	font-weight: bolder;
}

.todo .delete-todo:hover {
	font-size: 25px;
}

.todo .edit-todo {
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	right: 25px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 20px;
	font-weight: bolder;
}

.todo .edit-todo:hover {
	font-size:25px;
}

button.addButton{
	font-weight: bolder;
	border: 2px solid var(--light);
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	color: var(--dark);
	background-color: var(--dark-alt);
	height: 20px;
	width: 1px;
	margin-left: 5px;
}


button.submitEditButton{
	font-weight: bolder;
	border: 2px solid var(--dark-alt);
	font-size: 5px;
	cursor: pointer;
	border-radius: 8px;
	color: rgb(255, 255, 255);
	background-color: var(--dark-alt);
	height: 40px;
	width: 60px;
	margin-right: 5px;
	margin-left: 5px;
	position: absolute;
}


input {
	box-shadow: 2px 2px 4px 0 var(--dark);
	background-color: var(--dark);
	border: 1.3px solid var(--dark);
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	width: 35%;
	align-content: space-evenly;
}

input.inputFind{
	background-color: var(--light);
	box-shadow: none;
	width: 200px;
	height: 26px;
	padding: 6px;
	outline: 0;
	border-radius: 0px;
	border-width: 0 0 1px;
	border-color: var(--dark);
	color: var(--dark);
}

input.inputFind:focus {
	border-color: var(--dark);
}


input.priority{
	border: 1px solid --dark;
	padding: 10px;
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	width: 9.8%;
	color: white;
}

input.dueDate{
	border: 1px solid --dark;
	padding: 10px;
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	width: 9.8%;
	color:white;
}


input::placeholder {
    font-weight: bold;
    opacity: 0.5;
	color: white;
}

.inputTitle{
	padding: 10px;
	color: white;
}

.inputDescription{
	padding: 10px;
	color: white;
	margin-left: 5px;
}

.description{
	margin-bottom: 15px;
	
}

.todo .priority {
	margin-bottom: 15px;
}

.todo .dueDate {
	margin-bottom: 15px;
}

.noTask{
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
}



.wrapper{
	display:flex;
	margin-top: -25px;
	width: 100%;
}


.collabsible{
	width: 95%;
	overflow: hidden;
	font-weight: 500;
	margin-right: 5px;
}

.collabsible input{
	display: none;
}

.collabsible label{
	position: relative;
	font-weight: 600;
	background-color: var(--dark);
	box-shadow: 0px 2px 4px 0 var(--dark);
	display: flex;
	cursor:pointer;
	padding:25px;
	padding-left: 30px;
	padding-bottom: 25px;
	border-radius: 16px;
	z-index: 1;
}

.collabsible-text{
	position:relative;
	max-height: 0.5px;
	display: block;
	font-weight: 600;
	overflow: hidden;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	line-height: 1.3;
	top: -10%;
	opacity: 0;
	transition: all 0.55s ease;
	padding:25px;
	padding-left: 30px;
}

.collabsible input:checked ~ .collabsible-text{
	max-height: 300px;
	position: relative;
	align-items: center;
	display: block;
	padding:25px;
	padding-left: 30px;
	background-color: var(--dark);
	box-shadow: 0px 2px 4px 0 var(--dark);
	opacity: 1;
	top:-15px;
	margin-bottom: 25px;
	transition: all 0.55s ease;
}

.container{
	margin-bottom: 40px;
	position: relative;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 1200px;
	background-color: var(--dark);
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0px 4px 8px var(--dark);

	z-index: 2;
}

.closePopup {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: var(--light);
	cursor: pointer;
}

.popup h3 {
	color: var(--light);
	margin-bottom: 16px;
	font-weight: 400;
	text-transform: uppercase;
}



input.edit-inputTitle {
	background-color: var(--dark-alt);
	padding: 3px;
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	width: 30%;
	color: white;
	align-content: space-evenly;
	padding: 10px;
}

input.edit-inputDescription {
	background-color: var(--dark-alt);
	padding: 3px;
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	color:white;
	width: 30%;
	align-content: space-evenly;
	padding: 10px;
}

input.edit-priority{
	background-color: var(--dark-alt);
	padding: 10px;
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	width: 15%;
	color: white;
}

input.edit-dueDate{
	padding: 10px;
	border-radius: 8px;
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	width: 15%;
	color:white;
	background-color: var(--dark-alt);
}


input::placeholder {
    font-weight: bold;
    opacity: 0.5;
	color: white;
}

.wrapper-find input::placeholder {
    font-weight: bold;
    opacity: 0.8;
	color: var(--dark);
}


.edit-inputDescription{
	padding: 10px;
	color: white;
}

.description{
	margin-bottom: 15px;
}

.todo.completed {
	text-decoration: line-through;
}

.secondContainer{
	/* display: block; */
	position: relative;
	display: inline;
}

.secondContainer .finish_todo{
	/* margin-left: 20%; */
	position: absolute;
	top: 20%;
	display: inline;
	right:3%;
	color: var(--light);
	border-radius: 50%;
	width: 30px;
}



.finish_todo .check {
	font-size: 30px;
	opacity: 0.4;
	display: inline-block;
	position: sticky;
	margin-left: 25px;
	color: var(--dark);
}

.check:hover{
	font-size: 35px;
	opacity: 0.8;
}


.todo.completed .check{
	opacity: 1;
}


.wrapper-completed{
	display:flex;
	/* margin-top: -25px; */
	margin-left: 5px;
	margin-right: 5px;
	/* justify-content: center; */
}


.collabsible-completed{
	width: 95%;
	overflow: hidden;
	font-weight: 500;
	margin-bottom: -25px;
}

.collabsible-completed input{
	display: none;
}

.collabsible-completed label{
	position: relative;
	font-weight: 600;
	background-color: var(--dark);
	box-shadow: 0px 2px 4px 0 var(--dark);
	display: flex;
	cursor:pointer;
	padding:25px;
	padding-left: 30px;
	padding-bottom: 25px;
	border-radius: 16px;
	z-index: 1;
	opacity: 0.5;
}




.todo .delete-todo-completed {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 20px;
	font-weight: bolder;
}

.wrapper-popupActive{
	display:flex;
	margin-top: -25px;
	margin-left: 5px;
	margin-right: 5px;
	/* justify-content: center; */
}


.collabsible-popupActive{
	width: 95%;
	overflow: hidden;
	font-weight: 500;
}

.collabsible-popupActive input{
	display: none;
}

.collabsible-popupActive label{
	position: relative;
	font-weight: 600;
	background-color: var(--dark);
	box-shadow: 0px 2px 4px 0 var(--dark);
	display: flex;
	cursor:pointer;
	padding:25px;
	padding-left: 30px;
	padding-bottom: 25px;
	border-radius: 16px;
	z-index: 1;
	opacity: 0.5;
}

.input-disable {
	pointer-events: none;
}

.wrapper-fillter {
	border: 1px solid var(--dark);
	background-color: var(--dark);
	width: 266px;
	margin-top:15px;
	/* margin-left: 5px; */
	border-radius: 8px;
	height:35px;
	align-items: center;
	display: inline-block;
	margin-right: 15px;
}

.wrapper-fillter .sort-by-default{
	display: inline-block;
	align-content: space-evenly;
	width: 85px;
	border-radius: 8px;
	text-align: center;
	height: 27px;
	margin: 3px;
	margin-right:0px;
	color: white;
}

.wrapper-fillter .sort-by-default:hover{
	opacity: 0.2;
}

.wrapper-fillter .sort-by-date{
	display: inline-block;
	width: 85px;
	text-align: center;
	border-radius: 8px;
	align-items: center;
	color: black;
	height: 27px;
	margin: 3px;
	margin-left:0px;
	color: white;
}

.wrapper-fillter .sort-by-date:hover{
	opacity: 0.2;
}


.wrapper-fillter .sort-by-priority{
	display: inline-block;
	width: 85px;
	text-align: center;
	border-radius: 8px;
	align-items: center;
	color: black;
	height: 27px;
	margin: 3px;
	margin-left:0px;
	color: white;
}

.wrapper-fillter .sort-by-priority:hover{
	opacity: 0.2;
}


.default .sort-by-default{
	background-color: var(--light-alt);
	color: var(--dark);
	opacity: 0.7;
	font-weight: bold;
}

.date .sort-by-date{
	background-color: var(--light-alt);
	color: var(--dark);
	opacity: 0.7;
	font-weight: bold;
}


.priority .sort-by-priority{
	background-color: var(--light-alt);
	color: var(--dark);
	opacity: 0.7;
	font-weight: bold;
}



.popupTitle .wrapper-fillter{
	opacity: 0.5;
}


.wrapper-find {
	background-color: var(--light);
	width: 270px;
	margin-top:15px;
	border-radius: 8px;
	height:35px;
	align-items: center;
	display: inline-block;
}

.wrapper-find .find_todo {
	background-color: var(--dark-alt);
	width: 270px;
	margin-top:15px;
	margin-left: 5px;
	border-radius: 8px;
	height:35px;
	align-items: center;
	display: inline-block;
}

.wrapper-find .findTodo {
	display: inline-block;
}


.wrapper-find .findIcon {
	display: inline-block;
	font-weight: bolder;
	font-size: 12px;
	color: var(--dark)
}


.line-1 {
	height: 5px;
	background: var(--dark);
	position: relative;
	top: -20px;
	margin-left: 5px;
	width: 94.8%;
	border-radius: 32px;
  }

  .line-0 {
	height: 1.5px;
	background-color: var(--light-alt);
	position: relative;
	top: -10px;
	margin-left: 0px;
	width: 100%;
	border-radius: 32px;
  }

.listedTodosFinished{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	color: var(--dark);
}


.priorityNote{
	display: inline-block;
}

.note{
    position: absolute;
    top: 135px;
    left: 83.25%;
    font-size: 8px;
    color: var(--dark);
    font-weight: 400;
    opacity: 0.5;
}

@media only screen and (max-width: 800px) {
	.note{
		display: none;
	}
}

::-webkit-calendar-picker-indicator {
	filter: invert(100%)
  }